@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.upper-part {
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
    color: white;

}

.image {
    height: 50px;
}

.insta-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    display: none;
}


@media screen and (min-width:768px) {
    .lower-part {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .upper-part {
        background-image: linear-gradient(to bottom, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);

    }
}

.nav {
    justify-content: space-between;
}
