@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Bree Serif";
}

.container {
    background-image: url('https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png');
    background-size: cover;
    height: 100vh;
}

.heading-1 {
    margin: 20px;
}

.content {
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: white;
}

.card {
    height: auto;
    padding: 20px;
    text-align: center;
}

.body-container {
    height: 30vh;
    background-size: cover;
    text-align: center;
}

.body-container img {
    width: 100%;
    height: auto;
}

.button {
    border-radius: 10px;
}
