@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png');
    height: 300px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 90px;

}

.logos {
    height: 80px;

}

.card {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
}

.card-content {
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.image {
    font-size: 24px;
}

@media (min-width:768px) {
    .container {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png');
        width: 40%;
        flex-grow: 1;
        font-size: 30px;
        font-weight: 80px;
    }
}

.info {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}
