/* Write your code here. */
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png');
}
.like-button {
  background-color: #eab308;
}
.comment-button {
  background-color: #ffffff;
}
.share-button {
  background-color: #1d4ed8;
}
