@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.body {
    font-family: "Roboto";
}

.top-section {
    background-color: #fb4e71;
    color: #ffffff;
    padding: 10px;
}

.top-section h1 {
    font-size: 30px;
}

.button {
    margin-left: auto;
    margin-right: auto;
}

.middle-section {
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px;

}

h1 {
    font-size: 20px;
    padding: 10px;
}

.complete-bottom-section {
    background-color: #e6f6ff;
    height: 100vh;
}
